@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  color: white;
  text-align: center;
  padding: 34px 0;
}

.logoT {
  width: 70px;
  height: 60px;
  cursor: pointer;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

#subtitle {
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 18px 40px;
  justify-content: space-between;
  box-shadow: 0 0.1rem 0.5rem rgb(207, 143, 14);
  background: white;
  transition: all 0.5s;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Defina um valor de z-index alto para garantir que o menu fique acima do conteúdo */
}

/* Pai e filho */
.navigation .logo {
  color: #007acc;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo .logo-span {
  color: #ffa500;
}

.navigation .nav-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-menu .nav-item a {
  color: #ffa500;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.5s;
}

.nav-menu .nav-item a:hover {
  color: #007acc;
}

.nav-menu i {
  cursor: pointer;
  font-size: 1.5rem;
}

.hamburguer {
  cursor: pointer;
  display: none;
  padding-right: 30px;
  z-index: 1001; /* Defina um valor de z-index superior ao do menu para garantir que o ícone hambúrguer fique acima */
}

.hamburguer .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  background: #ffa500;
  margin: 5px auto;
  transition: all 0.3s;
}

.hamburguer .bar:nth-child(1),
.hamburguer .bar:nth-child(3) {
  background: #007acc;
}

.text {
  background: url("../img/about\ us.jpg") center/cover;
  position: relative;
  padding: 90px;
  z-index: 1; /* Defina um valor de z-index menor do que o do menu para garantir que fique abaixo do menu */
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(83, 82, 82, 0.5); /* Cor branca com 50% de opacidade */
  z-index: -1; /* Defina um valor de z-index menor do que o do menu para garantir que fique abaixo do menu */
}

.history {
  background-color: #f8f8f8;
  overflow: hidden;
}

.text h1 {
  color: #e6e6e6;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.history-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeIntUp 2s ease;
}

.history-content h2 {
  margin-bottom: 20px;
  color: #0079ca;
  font-size: 37px;
}
.history-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #210b0b;
}
.history-img {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
  align-items: center;
}

.room {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
}

.room img {
  width: 100%; /* Faça as imagens ocuparem 100% da largura do contêiner .room */
  height: auto; /* Mantenha a proporção original da imagem */
  max-height: 160px; /* Defina uma altura máxima para evitar */
}

@media screen and (max-width: 768px) {
  .text h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .history {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .history-content {
    width: 100%;
    margin: 35px 0px;
  }
  .history-content h2 {
    font-size: 42px;
  }

  .history-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .history-image {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.mission-section {
  margin-top: 75px;
}

.mission-title h1,
.vision-section h1 {
  padding-bottom: 30px;
  font-size: 50px;
  color: #120606;
  text-align: center;
  position: relative;
}

.mission-cards {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.mission-card {
  background-color: rgba(4, 107, 181, 0.804);
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.6s ease;
  width: calc(33.33% - 20px);
}

.mission-card:hover {
  transform: translateY(-12px);
}

.mission-image img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-bottom: 10px;
}

.mission-detail h3 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin: 15px 0px;
}
.mission-detail p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.vision-section {
  margin-top: 200px;
  background-color: #007acc;
  height: 100%;
  width: auto;
}

.vision-content {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #000000;
  padding-top: 15px;
}

.vision-content h2 {
  color: #ededed;
  font-size: 48px;
  padding-top: 60px;
}

.vision-content p {
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  .mission-cards {
    display: flex;
    flex-direction: column;
  }
  .mission-card {
    width: 85%;
    margin: 25px auto;
  }
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}

.wrapper {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
  margin-top: 100px;
}
.wrapper h1 {
  font-size: 3em;
  margin: 25px;
}
#paragraph {
  font-size: 16px;
}
.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}
.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}
.card i {
  margin: 20px;
  color: #d6771e;
}
.card h2 {
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}
.card p {
  color: rgb(3, 74, 112);
  text-align: center;
}
.card:hover i,
.card:hover p {
  color: #fff;
}
.card:hover h2 {
  font-weight: 600;
}
.card:nth-child(1):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}
.card:nth-child(2):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}
.card:nth-child(3):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}
.card:nth-child(4):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}
.card:nth-child(5):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}
.card:nth-child(6):hover {
  background: linear-gradient(
    45deg,
    rgba(9, 103, 233, 0.7) 0%,
    rgba(131, 196, 252, 0.7) 100%
  );
  background-size: cover;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 25px;
  }
  .wrapper h1 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .content-box {
    flex-direction: column;
    width: 100%;
  }
  .card {
    min-width: 300px;
    margin: 10px auto;
  }
}

footer {
  background-color: #007acc;
  color: white;
  text-align: center;
  margin-top: 20%;
  padding: 10px 0;
}

/*responsividade e menu*/

@media (max-width: 760px) {
  .navigation {
    padding: 20px 0px;
  }
  .hamburguer {
    display: block;
  }
  .hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: none;
    position: absolute;
    right: -100%;
    top: 82px;
    height: 980%;
    width: 100%;
    flex-direction: column;
    background: rgb(23, 97, 147);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }

  .nav-item {
    margin: 16px 0;
  }
}
