@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  color: white;
  text-align: center;
  padding: 34px 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 18px 40px;
  justify-content: space-between;
  box-shadow: 0 0.1rem 0.5rem rgb(207, 143, 14);
  background: white;
  transition: all 0.5s;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Defina um valor de z-index alto para garantir que o menu fique acima do conteúdo */
}

/* Pai e filho */
.navigation .logo {
  color: #007acc;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo .logo-span {
  color: #ffa500;
}

.navigation .nav-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-menu .nav-item a {
  color: #ffa500;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.5s;
}

.nav-menu .nav-item a:hover {
  color: #007acc;
}

.nav-menu i {
  cursor: pointer;
  font-size: 1.5rem;
}

.hamburguer {
  cursor: pointer;
  display: none;
  padding-right: 30px;
  z-index: 1001; /* Defina um valor de z-index superior ao do menu para garantir que o ícone hambúrguer fique acima */
}

.hamburguer .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  background: #ffa500;
  margin: 5px auto;
  transition: all 0.3s;
}

.hamburguer .bar:nth-child(1),
.hamburguer .bar:nth-child(3) {
  background: #007acc;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("../img/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 580px;
  background: transparent;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(15px) brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

/* animations: start */
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

/* animation:end */
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -10px 0 17px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: #fff;
  text-decoration: none;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .form-box {
    width: 100%;
    border-radius: 0px;
  }
}

/*responsividade e menu*/

@media (max-width: 760px) {
  .navigation {
    padding: 20px 20px;
  }
  .hamburguer {
    display: block;
  }
  .hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: none;
    position: absolute;
    right: -100%;
    top: 54px;
    height: 900%;
    width: 100%;
    flex-direction: column;
    background: rgb(23, 97, 147);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }

  .nav-item {
    margin: 16px 0;
  }
}
